<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>IOTServernew</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SensorServerDB</servlet-name>
    <servlet-class>SensorServerDB</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SensorServerJson</servlet-name>
    <servlet-class>SensorServerJson</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SensorServer</servlet-name>
    <servlet-class>SensorServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SensorServerDB</servlet-name>
    <url-pattern>/SensorServerDB</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SensorServerJson</servlet-name>
    <url-pattern>/SensorServerJson</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SensorServer</servlet-name>
    <url-pattern>/SensorServer</url-pattern>
  </servlet-mapping>
</web-app>